.wrapper {
    display: flex;
    height: calc(100vh - 56px);
    overflow: hidden;
  }

  .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    transition: all 0.3s;
    position: relative;
    overflow-y: auto;
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .sidebar .nav-link {
    color: #808080;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .sidebar .nav-link:hover {
    background-color: #f8d7da;
    color: red;
  }

  .sidebar .nav-link i {
    margin-right: 10px;
  }

  .sidebar.collapsed .nav-link span {
    display: none;
  }

  .sidebar .toggle-btn {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: -1px;
    z-index: 999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .sidebar .dropdown-menu {
    width: 100%;
  }

  .sidebar .dropdown-item:hover {
    background-color: #f8d7da;
    color: red;
  }
  .content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f2f5;
  }
  @media (max-width: 768px) {
.sidebar {
  width: 270px !important; /* Adjust this value as needed */
}

.sidebar.collapsed {
  width: 70px !important;
}

.sidebar .nav-link span {
  display: inline !important;
}
}
